[datahub]
access_id = access_id
access_key = access_key
endpoint = http://endpoint

project_name = success
topic_name = success
sub_id = 166123931038000XXX

[consumer]
auto_ack_offset = 1
session_timeout = 60000
fetch_limit = 100
max_async_fetch_thread_number = 10
max_record_buffer_size = 500

[producer]

[connector]
project_name =
table_name =
odps_endpoint =
tunnel_endpoint =
access_id =
access_key =
type =
column_fields =